{% load staticfiles %}



<!DOCTYPE html>



<html ng-app="cloudControlApp">



<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cloud Control </title>
    

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    

    <!-- Custom CSS -->
    <link href="{% static "css/shop-homepage.css" %}" rel="stylesheet">

    <script  src="{% static "js/angular.min.js"  %}"></script>
    
    <script  src="{% static "js/cloudControlApp.js" %}"></script> 

    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body  ng-controller="cloudControlCtrl" >
    <span ng-init="getSistemas();getProvedores()"/>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CloudControl</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Inicio</a>
                    </li>
                    <li>
                        <a href="#">Contato</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
   
    <!-- Page Content -->
    <div class="container">

    <ul>
    
   
        <div class="row">

            <div class="col-md-3">
                <div class="list-group"  ng-show="!isCheckout" >
                     <a href="#" ng-click="selecionaForm(1);getSistemas()" class="list-group-item">Pesquisar Pacotes</a>
                    <a href="#"  ng-click="selecionaForm(2)" class="list-group-item"> Cadastrar Provedor</a>
                    <a href="#"  ng-click="selecionaForm(3);" class="list-group-item"> Cadastar Sistema Operacional</a>
                    <a href="#"  ng-click="selecionaForm(4);getProvedores();getSistemas()" class="list-group-item"> Cadastar Pacote</a>
                </div>
                   <!-- 
                    <div class="list-group">
                        <h4><a href="#">Carrinho</a>
                        </h4>
                          <div   ng-repeat="produto in produtosSelecionados">
                              <p>{{produto.nome}}   {{produto.preco}}</p>
                          </div>

                        <p>Total Produtos: {{total}}</p>
                        <p>Valor Total:    {{valorTotal}}</p>
                        <a class="btn btn-primary"  ng-click="checkout()" href="#">Checkout</a>
                    </div>
                    -->
            </div>

            <div class="col-md-9">
                 <!--DIV  PARA PESQUISA DE  PACOTES -->
                 <div id="pesquisaPacotes" ng-show="form == 1">
                    <form >
                        <div class="form-group col-xs-2 col-md-4 col-lg-2">
                            <label for="cpu" class="control-label">Nº CPU</label>
                            <input type="number" value=''  ng-model="data.numCpu" class="form-control" id="name" >
                        </div>
                        <div class="form-group col-xs-2 col-md-4 col-lg-2">
                            <label for="name" class="control-label">Memória</label>
                            <input type="number" value='' ng-model="data.memoria" class="form-control" id="name" >
                        </div>
                        <div class="form-group col-xs-2 col-md-4 col-lg-2">
                            <label for="name" class="control-label"> Disco (GB)</label>
                            <input type="number" value='' ng-model="data.disco" class="form-control" id="name" >
                        </div>
                         <div class="form-group col-xs-2 col-md-4 col-lg-4">
                            <label for="selectSO" class="control-label">SO</label>
                           
                             <select class="form-control"   ng-model="data.sistema"  >
                               <option value="0"></option>
                                  <option ng-repeat="sistema in sistemas" value="{$sistema.pk$}">{$sistema.nome$}</option>
                             </select>
                        </div>
                         
                        

                        <br>
                        <button  class="btn btn-primary" ng-click="pesquisaPacotes()">Pesquisar</button>
                    </form>
                      <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
                        <thead>
                        <tr>
                          <th st-sort="firstName">Pacote</th>
                          <th st-sort="lastName">Provedor</th>
                          <th st-sort="lastName">SO</th>
                          <th st-sort="lastName">CPU</th>
                          <th st-sort="birthDate">Memória(GB)</th>
                          <th st-sort="balance">Disco(GB)</th>
                          <th st-sort="balance">Valor</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in pacotes">
                          <td>{$row.nome$}</td>
                          <td>{$row.provedor.nome$}</td>
                           <td>{$row.sistemaOperacional.nome$}</td>
                          <td>{$row.quantidadeCpu$}</td>
                          <td>{$row.memoria$}</td>
                          <td>{$row.tamanhoDisco$}</td>
                          <td>{$row.valorHora$}</td>
                        </tr>
                        </tbody>
                      </table>
                  </div>   
                <!--FIM DIV PARA PESQUISA DE  PACOTES -->
                <!-- DIV PARA  CADASTRO DE FORNECEDORES-->  
                 <div id="cadastroFornecedores" ng-show="form == 2">
                     <form class="form-horizontal" ng-submit="atualizaOuSalvaProvedores()">
                       <div class="span10">
                            <h2>Cadastro de Provedor:</h2>
                       </div>
                        
                       <div class="form-group">
                          <label for="nomeProv" class="control-label col-xs-2">Nome:</label>
                          <div class="col-xs-10">
                             <input type="text" class="form-control"  ng-model="data.nomeProvedor" id="nomeProv" placeholder="Nome">
                          </div>
                       </div>
                       <div class="form-group">
                          <label for="emailProv" class="control-label col-xs-2">Email:</label>
                          <div class="col-xs-10">
                             <input type="email" class="form-control" id="emailProv" ng-model="data.emailProvedor" placeholder="Email">
                          </div>
                       </div>
                       
                        <div class="form-group">
                          <label for="siteProv" class="control-label col-xs-2">Site:</label>
                          <div class="col-xs-10">
                             <input type="text" class="form-control" ng-model="data.siteProvedor" id="siteProv" placeholder="Site">
                          </div>
                       </div>
                       <div class="form-group">
                          <div class="col-xs-offset-2 col-xs-10">
                             <button type="submit" class="btn btn-primary">Cadastrar</button>
                          </div>
                       </div>
                    </form>
                </div>
                <!-- FIM DIV PARA  CADASTRO DE FORNECEDORES-->  
                <!-- DIV PARA  CADASTRO DE SO-->  
                 <div id="cadastroSO" ng-show="form == 3">
                    <form class="form-horizontal"  ng-submit="atualizaOuSalvaSistemas()" >
                       <div class="span10">
                            <h1>Cadastro de SO:</h2>
                       </div>
                        
                       <div class="form-group">
                          <label for="nomeSO" class="control-label col-xs-2">Nome:</label>
                          <div class="col-xs-10">
                             <input type="text" class="form-control" ng-model="data.nomeSO" id="nomeSO" placeholder="Nome Sistema Operacional">
                          </div>
                       </div>
                       
                       <div class="form-group">
                          <div class="col-xs-offset-2 col-xs-10">
                             <button type="submit" class="btn btn-primary">Cadastrar</button>
                          </div>
                       </div>
                    </form>
                </div>
                <!-- FIM DIV PARA  CADASTRO DE SO-->  
                 <!-- DIV PARA  CADASTRO DE PACOTES-->  
                 <div id="cadastroPacotes" ng-show="form == 4">
                    <form class="form-horizontal" ng-submit="atualizaOuSalvaPacotes()">
                       <div class="span10">
                            <h2>Cadastro de Pacotes de Serviços:</h2>
                       </div>
                        
                       <div class="form-group">
                          <label for="nomePacote" class="control-label col-xs-2">Nome:</label>
                          <div class="col-xs-10">
                             <input type="text" class="form-control"  ng-model="data.nomePacote" id="nomePacote" >
                          </div>
                       </div>
                       <div class="form-group">
                          <label for="inputQtCPU" class="control-label col-xs-2">Quantidade CPU:</label>
                          <div class="col-xs-10">
                             <input type="text" class="form-control"  ng-model="data.quantidadeCpu" id="inputQtCPU" >
                          </div>
                       </div>
                       
                       <div class="form-group">
                          <label for="inputDisco" class="control-label col-xs-2">Tamanho Discos(GB):</label>
                          <div class="col-xs-10">
                             <input type="text" class="form-control" ng-model="data.quantidadeDisco" id="inputDisco" >
                          </div>
                       </div>
                        
                       <div class="form-group">
                          <label for="inputQtMemoria" class="control-label col-xs-2">Quantidade Memória(GB):</label>
                          <div class="col-xs-10">
                             <input type="text" class="form-control" ng-model="data.quantidadeMemoria" id="inputQtMemoria" >
                          </div>
                       </div> 


                        <div class="form-group">
                          <label for="inputValorHora" class="control-label col-xs-2">Valor Hora:</label>
                          <div class="col-xs-10">
                             <input type="text" class="form-control" ng-model="data.valorHora" id="inputValorHora" >
                          </div>
                       </div>
                      
                        <div class="form-group">
                          <label for="selectSO" class="control-label col-xs-2">SO:</label>
                          <div class="col-xs-10">
                              <select class="form-control"  ng-model="data.so"  id="selectSO" ng-model="sistema"  >
                               <option value="0"></option>
                             
                                  <option ng-repeat="sistema in sistemas" value="{$sistema.pk$}">{$sistema.nome$}</option>
                                
                             </select>
                          </div>
                       </div>
                      

                      <div class="form-group">
                          <label for="selectPro" class="control-label col-xs-2">Provedor:</label>
                          <div class="col-xs-10">
                              <select class="form-control" id="selectPro" ng-model="data.provedor"    ng-model="provedor"  >
                               <option value="0"></option>
                              
                                  <option ng-repeat="provedor in provedores" value="{$provedor.pk$}">{$provedor.nome$}</option>
                               
                             </select>
                          </div>
                       </div>

                         
                       <div class="form-group">
                          <div class="col-xs-offset-2 col-xs-10">
                             <button type="submit" class="btn btn-primary">Cadastrar</button>
                          </div>
                       </div>
                    </form>
                </div>
                 <!-- FIM DIV PARA  CADASTRO DE PACOTES-->  



                
            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

     <form class="form-inline">
     






        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p></p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    
    <script src="{% static "js/jquery.js"  %}"></script>


</body>

</html>
